html, body{
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

#searchdiv{
    position: relative; /* Tempor치rio */
    top: 50%; /* Tempor치rio */
    width: 100%;
    height: 6%;
    display: block;
    text-align: center;
}

#searchform{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    font-size: 0px;
    background-color: lightgray;
}

#searchbar{
    padding-left: 1%;
    font-size: 20px;
    width: 94%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid lightgray;
    outline: none;
    transition: border 0.4s ease-in-out;
}

#searchbar:focus{
    border: 2px solid gray;
}

#submit{
    vertical-align: bottom;
    border: 0;
    width: 6%;
    height: 99%;
    font-size: 0px;
    background-color: lightgray;
    transition: background-color 0.1s ease-in-out;
}

#submit:hover{
    background-color: gray;
}

#results{
    position: relative; /* Tempor치rio */
    top: 60%; /* Tempor치rio */
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: lightgray;
}